.container-component3 {
  margin-top: 5%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-left: 10%;
}
.container-component3 .child-component3 {
  flex: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-component3 .child-component3 .title {
  margin-top: 20px;
  font-size: 25px;
  text-align: center;
  width: 375px;
}

.container-component3 .child-component3 .subtitle {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 30px;
  text-align: center;
  width: 350px;
  color: rgba(255, 255, 255, 0.637);
}

@media only screen and (max-width: 700px) {
    .container-component3 {
        flex-direction: column;
      }
  
   
  }
